<p>Veuillez choisir le mode d'ajout de votre piste musicale</p>
<select [(ngModel)]="selectedOption" (change)="onSelectChange($event)">
  <option value="text">Entrer une URL</option>
  <option value="file">Charger un fichier</option>
</select>
<form
  (ngSubmit)="myForm.valid && onSubmit($event)"
  #myForm="ngForm">
  <input [type]="getType()" name="url" [formControl]="audioTrack" id="url" (change)="onFileInputChange($event)"/>

  <button type="submit">Sauvegarder</button>
  <button type="reset">Recommencer</button>
</form>
