<p>Veuillez choisir le mode d'ajout de votre piste musicale</p>
<select [(ngModel)]="selectedOption" (change)="onSelectChange($event)">
  <option value="text">Entrer une URL</option>
  <option value="file">Charger un fichier</option>
</select>
<form
  (ngSubmit)="myForm.valid && onSubmit()"
  [formGroup]="addAudioTrackForm"
  #myForm="ngForm"
>
  <ng-container *ngFor="let formField of formFieldConfig">
    <app-audio-track-form-field
      [formFieldConfig]="formField"
      (valueChanged)="onFieldValueChanged($event, formField.formControlName)"
    >
    </app-audio-track-form-field>
  </ng-container>
  <button type="submit">Sauvegarder</button>
  <button type="reset">Recommencer</button>
</form>
